<h2>Add a celebrity</h2>

<form action="/celebrities", method="POST">
<label for="name">Name</label>
<input type="text" name="name" id="celebName" placeholder="Name">

<label for="occupation">Occupation</label>
<input type="text" name="occupation" id="celebOccupation" placeholder="occupation">

<label for="catchPhrase">Catch Phrase</label>
<textarea name="catchPhrase" placeholder="a catch phrase attributed to the celebrity" id="celebCatchPhrase"></textarea>

    <button type="submit">Submit</button>

</form>